<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696545506494-om4kdr1dr0rtcu2p4llf3pn5fv42c4ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696545506494-om4kdr1dr0rtcu2p4llf3pn5fv42c4ig</string>
	<key>API_KEY</key>
	<string>AIzaSyCUTpXJkdq5cR1XlUjEd1gdVUUpobU0Z9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>696545506494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryogeshwaran.sathyodhayam</string>
	<key>PROJECT_ID</key>
	<string>sathyodhayam-50d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>sathyodhayam-50d9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696545506494:ios:2e54b5df790c6833f51aef</string>
	<key>DATABASE_URL</key>
	<string>https://sathyodhayam-50d9a-default-rtdb.firebaseio.com</string>
</dict>
</plist>